body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333;
}

main{
    width: 50%;

    label{
        color: #2b409e;
    }

    button{
        width: 100%;
        height: 100%;
    }
}