html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

section{
    margin-top: 200px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.lineaSeparatoria{
    width: 100%;
    height: 0px;
    border: black 1px solid;
}


/* EJERCICIO 1 */

.cuadrado1{
    width: 200px;
    height: 200px;
    border: rgb(96, 128, 255) 1px solid;
}

.cuadrado2{
    width: 200px;
    height: 200px;
    border: rgb(173, 0, 212) 1px solid;
    position: relative;
    bottom: 100px;
    right: 100px;
}


/* EJERCICIO 2 */

.cuadrado3{
    width: 400px;
    height: 0px;
    border: rgb(96, 128, 255) 1px solid;
}

.cuadrado4{
    width: 0px;
    height: 150px;
    border: rgb(173, 0, 212) 1px solid;
    position: relative;
    right: 100px;
}


/* EJERCICIO 3 */

.cuadrado5{
    width: 200px;
    height: 200px;
    border-left: rgb(96, 128, 255) 1px solid;
    border-top: rgb(96, 128, 255) 1px solid;
    transform: rotate(45deg);
    position: relative;
    bottom: 50px;
    left: 50px;
}

.cuadrado6{
    width: 284px;
    height: 200px;
    border-bottom: rgb(173, 0, 212) 1px solid;
    position: relative;
    bottom: 150px;
    right: 192px;
}


/* EXTRA */

.cuadrado7{
    width: 200px;
    height: 200px;
    border: rgb(96, 128, 255) 1px solid;
    transform: rotate(45deg);
    position: relative;
    bottom: 10px;
}

.cuadrado8{
    width: 200px;
    height: 200px;
    border: rgb(173, 0, 212) 1px solid;
    position: relative;
    bottom: 10px;
    right: 200px;
}

.triangulo2{
    transform: rotate(180deg);
    position: relative;
    bottom: 600px;
    right: 180px;
}


.sectionEj5{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "a1 a2 a3 a4 a4 a4 a5"
    "a6 a6 a6 a6 a7 a8 a5"
    "a9 a10 a10 a10 a10 a10 a10"
    "a9 a11 a11 a11 a11 a11 a11"
    "a9 a12 a12 a12 a12 a12 a12"
    "a9 a13 a13 a13 a13 a13 a13";
}

.cuadro{
    border: rgb(17, 223, 255) 1px solid;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

.div1{
    display: grid;
    grid-area: a1;
}

.div2{
    display: grid;
    grid-area: a2;
}

.div3{
    display: grid;
    grid-area: a3;
}

.div4{
    display: grid;
    grid-area: a4;
}

.div5{
    display: grid;
    grid-area: a5;
}

.div6{
    display: grid;
    grid-area: a6;
}

.div7{
    display: grid;
    grid-area: a7;
}

.div8{
    display: grid;
    grid-area: a8;
}

.div9{
    display: grid;
    grid-area: a9;
}

.div10{
    display: grid;
    grid-area: a10;
}

.div11{
    display: grid;
    grid-area: a11;
}

.div12{
    display: grid;
    grid-area: a12;
}

.div13{
    display: grid;
    grid-area: a13;
}