html, body, main{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.sec1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "col1 col1 col2 col2"
    "col1 col1 col2 col2"

    "col3 col3 col4 col5"
    "col6 col6 col4 col7"

    "col8 col8 col9 col9"
    "col10 col10 col11 col11"

    "col12 col13 col11 col11";

    gap: 5px;
}

.sec2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "col1 col1 col2 col2"
    "col1 col1 col2 col2"

    "col3 col3 col4 col5"
    "col6 col6 col4 col7"

    "col8 col8 col9 col9"
    "col10 col10 col11 col11"

    "col12 col13 col11 col11";

    gap: 5px;
}

.col1{
    display: grid;
    grid-area: col1;
}
.col2{
    display: grid;
    grid-area: col2;
}
.col3{
    display: grid;
    grid-area: col3;
}
.col4{
    display: grid;
    grid-area: col4;
}
.col5{
    display: grid;
    grid-area: col5;
}
.col6{
    display: grid;
    grid-area: col6;
}
.col7{
    display: grid;
    grid-area: col7;
}
.col8{
    display: grid;
    grid-area: col8;
}
.col9{
    display: grid;
    grid-area: col9;
}
.col10{
    display: grid;
    grid-area: col10;
}
.col11{
    display: grid;
    grid-area: col11;
}
.col12{
    display: grid;
    grid-area: col12;
}
.col13{
    display: grid;
    grid-area: col13;
}

div{
    background-color: #333333;
    border-radius: 7px;
}

section{
    height: 75%;
    width: 20%;
}

