html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

section{
    margin-top: 200px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.lineaSeparatoria{
    width: 100%;
    height: 0px;
    border: black 1px solid;
}


/* EJERCICIO 1 */

.cuadrado1{
    width: 200px;
    height: 200px;
    border: rgb(96, 128, 255) 1px solid;
}

.cuadrado2{
    width: 200px;
    height: 200px;
    border: rgb(173, 0, 212) 1px solid;
    position: relative;
    bottom: 100px;
    right: 100px;
}


/* EJERCICIO 2 */

.cuadrado3{
    width: 400px;
    height: 0px;
    border: rgb(96, 128, 255) 1px solid;
}

.cuadrado4{
    width: 0px;
    height: 150px;
    border: rgb(173, 0, 212) 1px solid;
    position: relative;
    right: 100px;
}


/* EJERCICIO 3 */

.cuadrado5{
    width: 200px;
    height: 200px;
    border-left: rgb(96, 128, 255) 1px solid;
    border-top: rgb(96, 128, 255) 1px solid;
    transform: rotate(45deg);
    position: relative;
    bottom: 50px;
    left: 50px;
}

.cuadrado6{
    width: 300px;
    height: 200px;
    border-bottom: rgb(173, 0, 212) 1px solid;
    position: relative;
    bottom: 150px;
    right: 200px;
}


/* EXTRA */

.cuadrado7{
    width: 200px;
    height: 200px;
    border: rgb(96, 128, 255) 1px solid;
    transform: rotate(45deg);
    position: relative;
    bottom: 10px;
}

.cuadrado8{
    width: 200px;
    height: 200px;
    border: rgb(173, 0, 212) 1px solid;
    position: relative;
    bottom: 10px;
    right: 200px;
}