html, body, section{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}


section{

}

.grid{
    height: 100%;
    width: 100%;
    border: solid 1px whitesmoke;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "a1 a2 a3 a4 a4 a4 a5"
    "b6 b6 b6 b6 b7 b8 a5"
    "c9 c10 c10 c10 c10 c10 c10 "
    "c9 d11 d11 d11 d11 d11 d11"
    "c9 e12 e12 e12 e12 e12 e12"
    "c9 f13 f13 f13 f13 f13 f13 "
    ;
}

.a1{
    display: grid;
    grid-area: a1;
    border: solid whitesmoke 1px;
}

.a2{
    display: grid;
    grid-area: a2;
    border: solid whitesmoke 1px;
}

.a3{
    display: grid;
    grid-area: a3;
    border: solid whitesmoke 1px;
}

.a4{
    display: grid;
    grid-area: a4;
    border: solid whitesmoke 1px;
}

.a5{
    display: grid;
    grid-area: a5;
    border: solid whitesmoke 1px;
}

.b6{
    display: grid;
    grid-area: b6;
    border: solid whitesmoke 1px;
}

.b7{
    display: grid;
    grid-area: b7;
    border: solid whitesmoke 1px;
}

.b8{
    display: grid;
    grid-area: b8;
    border: solid whitesmoke 1px;
}

.c9{
       display: grid;
    grid-area: c9;
    border: solid whitesmoke 1px;
}

.c10{
       display: grid;
    grid-area: c10;
    border: solid whitesmoke 1px;
}

.d11{
       display: grid;
    grid-area: d11;
    border: solid whitesmoke 1px;
}

.e12{
       display: grid;
    grid-area: e12;
    border: solid whitesmoke 1px;
}

.f13{
       display: grid;
    grid-area: f13;
    border: solid whitesmoke 1px;
}

