html{
    width: 100%;
    height: 100%;
    background: #333;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    border: 4px solid blue;
    background: #c2c3ff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /* Centra en el eje X */
    align-items: center; /* Centra en el eje Y */
}

.contenedor{
    border: 1px red solid;
    background: #333;
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
}