html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    grid-template-rows: 100px 300px auto 150px;
    grid-template-columns: 100%;
    grid-template-areas: 
    "nav"
    "header"
    "main"
    "footer";
}

nav{
    display: grid;
    grid-area: nav;
    background-color: #333;
    border-bottom: #000000 solid 1px;
    font-size: 17px;
}

header{
    display: grid;
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e7e7;
}

main{
    display: grid;
    grid-area:main;
}

main section{
    padding: 30px;
    background: whitesmoke;
}

footer{
    display: grid;
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    background-color: #333;
    color: whitesmoke;
}

footer img{
    width: 150px;
    height: 80px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
}
nav ul a{
    text-decoration: none;
    color: whitesmoke;
    transition: 1s all ease;
}

nav ul li{
    transition: 1s all ease;
}

li:hover{
    transform: scale(1.1);
}


a:hover{
    color: #ffbdf6;
}

.contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card{
    border: 1px black solid;
    width: 390px;
    border-radius: 7px;
    box-shadow: 6px 4px 6px 2px black;
    transition: 0.7s all ease;
    padding: 25px;
}

.card:hover{
    transform: scale(1.03);
}

.card .titulo{
    text-align: center;
    margin-bottom: 25px;
}


.card .precio{
    padding: 5px;
}

img{
    width: 100%;
}

.botones{
    padding: 5px;
    display: flex;
    align-items: end;
    justify-content: center;
}

.botones button{
    background-color: red;
    color: white;
    margin: 4px;
    padding: 10px 16px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.botones button:hover {
    transform: scale(1.05);
}

form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

fieldset {
    width: 80%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    font-size: 18px;
}


form input, form button {
    font-size: 16px;
    padding: 8px;
}