html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    grid-template-rows: 100px 300px auto 150px;
    grid-template-columns: 100%;
    grid-template-areas: 
    "nav"
    "header"
    "main"
    "footer";
}

nav{
    display: grid;
    grid-area: nav;

    background-color: #333;
}

header{
    display: grid;
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: grid;
    grid-area: main;
}

footer{
    display: grid;
    grid-area: footer;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

footer img{
    width: 7%;
    height: auto;
}


/* estilos para el menu */

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav ul a{
    text-decoration: none;
    color: whitesmoke;
    transition: 1s all ease;
}

nav ul li{
    transition: 1s all ease;
}

li:hover{
    transform: scale(1.1);
}

a:hover{
    color: aqua;
}